# In-Class Assignment
## (Concatenate dataframes)
Given the following csv files:

**flight1.csv**

>|Date|Time|Flight| Origin| Destination|
|---|---|---|---|---|
|20201015|0900|TM102|Salaya|Phuket|
|20201015|0930|TM105|Bangkok|Krabi|
|20201015|0950|SY605|KhonKaen|Bangkok|
|20201015|1010|UG222|Bangkok|Singapore|

**flight2.csv**

>|Date|Time|Flight| Origin| Destination|
|---|---|---|---|---|
|20201015|1100|YK100|Bangkok|Hongkong|
|20201015|1115|IC161|Krabi|Singapore|
|20201015|1150|IC165|Krabi|Bangkok|
|20201015|1316|MK299|Salaya|Bangkok |

**flight3.csv**

>|Date|Time|Visibility|
|---|---|---|
|20201015|0930|8|
|20201015|1010|10|
|20201015|1100|10|

**flight4.csv**

>|WIND|PM25|
|---|---|
|20|57|
|27|43|

## Task #1: 
Concatenate data from flight1.csv and flight2.csv , assign the result to a variable **df5**.

**Q: Do we have NaN in our dataframe? Why?**

A:

## Task #2:
Concatenate data from flight1.csv, flight2.csv and flight3.csv , assign the result to a variable **df6**.

**Q: Why we have NaN in our dataframe (be specific)?**

A:

## Task #3:
Concatenate data from flight1.csv,flight2.csv,flight3.csv and flight4.csv , assign the result to a variable **df7**.

**Q: Why we have NaN in our dataframe addional to what we got from the previous step (be specific)?**

A: